/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

h2, h3 {
    font-family: "Satisfy", "Bradley Hand ITC", Calibri;
}

h1 {
    font-family: "Roboto", "Century Gothic", Calibri;
    font-size: 60px;
}

h2 {
    font-size:40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-family: "Lato", "Calibri Light", Calibri;
    font-size: 20px;
}

p {
    font-family: "Lato", "Calibri Light", Calibri;
    font-size: 16px;
}


#top, #bottom, #left, #right {
    background: cadetblue;
    position: fixed;
    z-index: 0;
}
#left, #right {
    top: 0; bottom: 0;
    width: 120px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
    left: 0; right: 0;
    height: 80px;
}
#top { top: 0; }
#bottom { bottom: 0; }

#content {
    position: fixed;
    top: 80px; bottom: 80px;
    left: 120px; right: 120px;
    overflow-y: scroll;
    -moz-box-shadow:0 0 8px 0 black;
    -webkit-box-shadow:0 0 8px 0 black;
    box-shadow:0 0 5px 0 darkslategray;
}

.background-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../images/whirlpool_20.png");
}

.slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    float: right;
    flex-direction: row;
    width: 80%;
    height: 100%;
    z-index: 1;
}

.content-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 100%;*/
    padding: 2% 0;
}

.header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    /*justify-content: center;*/
    flex-direction: row;
    width: 100%;
    height: 45%;
    padding: 1% 2%;
}

.header-content {
    align-self: flex-end;
    /*text-align: center;*/
    color: rgba(60, 60, 60, 1);
    /*text-shadow: 0.05em 0.05em black*/
}

.home-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    padding: 5% 2%;
    color: rgba(60, 60, 60, 1);
}

.side-pic {
    height: 100%;
    width: auto;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /*border-radius: 7px;*/
}

.container_footer {
    background-image: linear-gradient(to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7) 30%);
    height: 4%;
    width: 100%;
}

.contact-link {
    display: block;
    padding: 2%;
    width: 70px;
    height: 70px;
}

.contact-link:hover {
    opacity: 0.8;
}

.contact-logo {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.paragraph-content {
    margin: 5% 2%;
    height: 100%;
    line-height: 2em;
    overflow-y: scroll;
    color: rgba(60, 60, 60, 1)
}

.projects-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 10px;
    grid-auto-rows: min-content;
    width: 100%;
    overflow-y: auto;
    padding: 5%
}

.project-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.project-title {
    padding: 5% 5% 0 5%;
    text-align: center;
    opacity: 0;
}

.project-links {
    padding: 0 5% 5% 5%;
    text-align: center;
    opacity: 0;
}

#project1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url("../images/squaretest.png");
}

#project1:hover {
    opacity: 0.5;
}

#project1:hover #project1-title {
    opacity: 1;
}

#project1:hover #project1-links {
    opacity: 1;
}

#project2 {
    grid-column: 2;
    grid-row: 1;
    background-image: url("../images/squaretest.png");
}

#project2:hover {
     opacity: 0.5;
 }

#project2:hover #project2-title {
    opacity: 1;
}

#project2:hover #project2-links {
    opacity: 1;
}

#project3 {
    grid-column: 1;
    grid-row: 2;
    background-image: url("../images/squaretest.png");
}

#project3:hover {
    opacity: 0.5;
}

#project3:hover #project3-title {
    opacity: 1;
}

#project3:hover #project3-links {
    opacity: 1;
}

#project4 {
    grid-column: 2;
    grid-row: 2;
    background-image: url("../images/squaretest.png");
}

#project4:hover {
    opacity: 0.5;
}

#project4:hover #project4-title {
    opacity: 1;
}

#project4:hover #project4-links {
    opacity: 1;
}

.footer {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1% 0;
    text-align: center;
}

ul {
    float: left;
    position: fixed;
    overflow: auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*background-color: rgba(119, 136, 153, 0.8);*/
}

a {
    text-decoration: none;
    color: rgba(60, 60, 60, 1);
}

li a {
    display: block;
    /*text-decoration: none;*/
    /*color: white;*/
    padding: 10% 0;
}

a:hover {
    color:lightslategray;
}

li {
    font-family: "Roboto", "Calibri Light", Calibri;
    font-size: 16px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0.5em;
    background-color: lightgray;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    /*outline: 2px solid slategrey;*/
    border: 1px solid lightslategrey;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 4s ease-in 1 forwards;
}

@media screen and (max-width: 600px) {
    ul {
        width: 20%;
    }

    .slide {
        width: 80%;
    }


    .about-container {
        flex-direction: column;
    }

    #profile-pic {
        height: 50%;
        width: auto;
        margin: 2% 2% 2% 2%;
    }

    .about-content {
        margin: 2% 2% 2% 2%;
        line-height: normal;
        width:auto;
    }

    .project-slide {
        max-height: 100%;
        min-width: 50%;
    }

    .contact-link {
        width: 40px;
        height: 40px;
    }

    .contact-logo {
        width: 40px;
        height: 40px;
    }

    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    li {
        font-size: 12px;
    }
}
