/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #000;
    height: 100%;
}

.background-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    z-index: 1;
}

.slide {
    position: relative;
    float: right;
    width: 80%;
    height: 100%;
    z-index: 2;
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.header-content {
    align-self: flex-end;
    text-align: center;
    color: white;
}

.intro {
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
    color: mediumpurple;
    padding-top: 2%;
}

ul {
    float: left;
    width: 20%;
    height: 100%;
    /*background-color: #f1f1f1;*/
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li a {
    display: block;
    text-decoration: none;
    background-color: rgb(72, 72, 72);
    color: #ffffff;
    padding: 10% 0;
    border-radius: 10px;
}

li {
    font-family: "Cardo", Calibri;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid transparent;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3 {
    font-family: "Montserrat", "Century Gothic";
}

h1 {
    font-size: 120px;
}

h3 {
    font-size: 30px;
}